body {
    font-family: 'Montserrat';
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 700px) {
        width: 700px;
    }

    @media screen and (min-width: 1140px) {
        width: 1140px;
    }
}

.scroll-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-accent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: white;
    bottom: 20px;
    right: 20px;
}