.header-section {
    padding-bottom: 40px;
    padding-top: 40px;
    position: fixed;
    border-bottom: 1px solid $color-border;
    background-repeat: no-repeat;
    width: 100%;
    background-color: rgba(37, 36, 36, 0.655);
}

.header-section__list{
    display: flex;
    justify-content: flex-end;
}

.header-section__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: $color-text-secondary;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.header-section__link:hover{
    color:$color-accent;
}

.header-section__active::after{
   content: "";
   position: absolute;
   bottom: -40px;
   left: 0;
   display: block;
   width: 100%;
   height: 2px;
   background-color: $color-text-secondary;
}

.header-section__link:hover .header-section__active::after:hover{
    background-color: $color-accent;
}