.header-section {
    padding-bottom: 40px;
    padding-top: 40px;
    position: fixed;
    border-bottom: 1px solid $color-border;
    background-repeat: no-repeat;
    width: 100vw;
    // background-color: rgba(37, 36, 36, 0.655);
    z-index: 100;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.500) 80%, rgba(37, 36, 36, 0.655), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(5px);
}

.header-section__nav{
    display: none;

    @media screen and (min-width: 700px) {
        display: block;
    }
}

.header-section__list{
    display: flex;
    justify-content: flex-end;
}

.header-section__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: $color-text-secondary;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.header-section__link:hover{
    color:$color-accent;
}

.header-section__active::after{
   content: "";
   position: absolute;
   bottom: -40px;
   left: 0;
   display: block;
   width: 100%;
   height: 2px;
   background-color: $color-text-secondary;

   .header-section__item:hover & {
    background-color:$color-accent;
}

}

.header-section__link:hover .header-section__active::after:hover{
    background-color: $color-accent;
}

.modal-open__button{
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.751);
    border-radius: 50%;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
    @media screen and (min-width:$tablet) {
        display: none;
    }
}

.modal-open__icon{
    width: 20px;
    height: 20px;
    fill: rgb(0, 0, 0);
    @media screen and (min-width:$tablet) {
        display: none;
    }
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgb(214, 214, 214);
    padding-right: 25px;
    padding-left:25px ;
    padding-bottom: 50px;
    @media screen and (min-width:$tablet) {
        display: none;
    }
}

.modal-close{
    width: 20px;
    height: 20px;
    fill: black;
    display: block;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 30px;
}

.modal-list{
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

.modal-link{
    color: rgb(31, 30, 30);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
}