.hero-section {
    background-image: url(../img/hero-img.jpg);
    max-width: 1920px;
    padding-top: 259px;
    padding-bottom: 335px;
}

.hero-section__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: $color-text-secondary;
    text-align: center;
    margin-bottom: 20px;
}

.hero__text-bottom {
    animation: to-bottom 1s ease-out 400ms both;
}

.hero-section__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 1.33;
    text-align: center;
    color: $color-text-secondary;
    max-width: 829px;
    margin: 0 auto 50px;
}

.hero-section__title-left {
    animation: to-left 1s ease-out 200ms both;
}

.hero-section__button {
    @extend %button;
    margin: 0 auto;
    display: block;
}

.hero-section__button-top {
    animation: to-top 1s ease-out 800ms both;
}