.works {
    background-image: linear-gradient(to bottom, #5F12D0 50%, $color-text-secondary 50%);
    padding-top: 120px;
    padding-bottom: 85px;
}

.works .container {
    border-bottom: 1px solid #E0E0E0;
}

.works__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;

}

.works__title {
    @include font-title($color-title-section: $color-text-secondary, $text-align: left);
    width: 540px;

}

.works__button {
    @extend %button;
}

.works__list {
    @include grid();
    padding-bottom: 85px
}

.works__item {
    @include grid-item($cards: 3);
    transition: transform 500ms linear 250ms, box-shadow 500ms linear 250ms, border-radius 500ms linear 250ms, padding 500ms linear 250ms;
}

.works__item:hover {
    transform: scale(1.03);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    padding: 5px;
}

.works__img {
    margin-bottom: 30px;
}

.works__img-right {
    animation: to-right 1s ease-out 300ms both;
}

.works__name {
    @extend %subtitle;
    margin-bottom: 30px;
}

.works__name-akcent {
    @extend %subtitle;
    color: #4985FF;
}

.works__text {
    @extend %text;
    color: $color-main-text;
    margin-bottom: 47px;
}

.works__link {
    @extend %links;
}