@mixin font-title($color-title-section, $text-align) {
    font-weight: 700;
    text-align: $text-align;
    color: $color-title-section;
    line-height: 1.47;
    font-size: 20px;

    @media screen and (min-width:$tablet) {
        font-size: 28px;
    }

    @media screen and (min-width:$dekstop) {
        font-size: 36px;
    }
}

@mixin grid() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

@mixin grid-item($cards) {
    margin-right: 30px;
    flex-basis: calc((100% - (30px * $cards)) / $cards);
    margin-bottom: 30px;
}