$color-main-text:#999999;

$color-text-secondary:#FFFFFF;

$color-title: #000000;

$color-accent:#4985FF;

$color-border:#A1A1A1;

$color-main-title: #323232;

$background-section: #F6F6F8;

$icon-color: #E0E0E0;

$mobile: 480px;

$tablet: 700px;

$dekstop: 1140px;